# Propietarios del código por defecto
# GitHub asigna automáticamente a estas personas como reviewers de PRs

* @jemgdevp

# Reglas por ruta (opcional)
# docs/ @jemgdevp
# src/main/java/logic/ @jemgdevp
