node-linker=hoisted
auto-install-peers=true
strict-peer-dependencies=false
verify-deps-before-run=false
# Dependencias permitidas para compilar
only-built-dependencies[]=esbuild
only-built-dependencies[]=@tailwindcss/oxide

# Permisos explícitos de construcción
allow-builds[]=esbuild
allow-builds[]=@tailwindcss/oxide

# Arquitecturas soportadas
supported-architectures-os=current,linux
supported-architectures-cpu=current,x64,arm64
supported-architectures-libc=current,glibc,musl
